@page "/realtimedashboard"
@inherits BlazorDashboard.LineChartDashBoard.RealTimeTableDashboard
@using Pages;


<table>
    <tr>
        <th style="align-content: center">Line Chart </th>

        <th style="align-content: center">Bar Chart </th>
    </tr>
    <tr>
        <td>

            <div class="card" style="width:700px; margin: 3px; border-radius: 10px">
                <Chart Config="Config"></Chart>
            </div>
        </td>
        <td>
            <div class="card" style="width:700px; margin: 3px; border-radius: 10px">
                <BarChart></BarChart>
            </div>
        </td>
    </tr>
</table>

@if (!IsConnected)
{
    <div align="center">
        <Loader></Loader>
    </div>
}
else
{
    <div style="background-color: blue;color: white">Connected</div>
}