@page "/realtimedashboard"
@inherits BlazorDashboard.LineChartDashBoard.RealTimeTableDashboard
@using Pages;

<h3>RealTimeTableDashboard</h3>

<div class="card" style="width: 500px;margin:3px;border-radius:10px">
    <Chart Config="_config"></Chart>
</div>

<div class="card" style="width: 500px;margin:3px;border-radius:10px">
   <BarChart></BarChart>
</div>
